@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;500;600;700&display=swap');

/* VARIABLES AND INITIALS */

:root {
    /* COLORS */

    /* Background Colors */

    --bg-color-primary: #4D4D4D;

    /* Light Theme */
    --very-light-blue: #F9F2FB;
    --desaturated-light-blue: #C1CADE;
    --desaturated-blue: #89A2C0;
    --desaturated-dark-blue: #394E6A;

    /* TYPOGRAPHY */

    /* Font Family */

    --ff--josefin-sans: "Josefin Sans";


}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--ff--josefin-sans);
}

/* APP */

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

/* HEADER */

#header {
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-template-areas: "heading theme";
    height: 7vh;
    width: 100%;
    background-color: var(--desaturated-dark-blue);
    color: var(--desaturated-light-blue);
}

#heading {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    grid-area: heading;
}

#theme-changer {
    grid-area: theme;
}

/* TODOLIST */

#input-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 30vh;
    gap: 30px;
    background-color: var(--desaturated-dark-blue);
}

input {
    width: 1000px;
    height: 50px;
    background-color: var(--desaturated-light-blue);
    color: var(--bg-color-primary);
    padding: 1rem;
}

#input-button {
    padding: 1rem;
}

#task-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 0;
    width: 100%;
    min-height: 55vh;
    background-color: var(--desaturated-blue);
}

#todo-component {
    display: grid;
    grid-template-columns: 0.25fr 1fr 7fr 5fr 3fr;
    width: 80%;
    grid-template-areas: "checkbox . todo . delete";
    padding: 3px;
    background-color: var(--desaturated-light-blue);
}

.checkbox {
    grid-area: checkbox;
}

.todo {
    list-style: none;
    grid-area: todo;
}

.delete-button {
    grid-area: delete;
}

#functions {
    width: 80%;
    height: 5vh;
}

/* FOOTER */

#footer {
    width: 100%;
    height: 3vh;
    border: 1px solid black;
}

/* FOMRATS */

.strikethrough {
    text-decoration: line-through;
}